.brain{
background-image:;
text-align: center;
font-family: 'ZCOOL KuaiLe', cursive;
color: #1A191A;
}
#mouth{
text-align: center;
font-family: 'Roboto Mono', monospace;
}
body{
 background-image: url("../backgroundimage.jpg");
 background-repeat: no-repeat;
 background-position: center;
 margin-left: 200px;
 margin-right: 200px;
 margin-bottom: 200px;
 height: 200px;
}

.ears{
text-align: center;
font-family: 'Roboto Mono', monospace;
}
 .head{
font-family: 'Lobster', cursive;
text-align: center;
color: #1A191A;
}
.hair{
text-align: center;
font-family: 'Permanent Marker', cursive;
color: #1A191A;
}
.eye{
text-align: center;
font-family: 'Bangers', cursive;
color: #1A191A;
}
.neck{
text-align: center;
font-family: 'Sigmar One', cursive;
color: #1A191A;
}
.chest{
text-align:center;
color: #1A191A;
font-family: 'Covered By Your Grace', cursive;
}

h1 {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

img {
border-radius: 60%;

}

@media screen and width (min-width:480px) {
body {
  background-color: #1A191A;
}
}
@media screen and (min-width: 490px) and (max-width: 768px) {
    body {
        background-color: #1A191A;
        color: #1A191A;
    }
}
